[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pd = "*"
requests = "*"
sklearn = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
xgboost = "*"
ipykernel = "*"
dash = "*"
plotly = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-table-experiments = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
